/* Make the invisible visible */

* {
  border: thin red solid;
}

.row {
  clear: both;
}

.button {
	display: block;
	height: 100px;
	width: 300px;
	background: #34696f;
	border: 2px solid rgba(33, 68, 72, 0.59);
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

h1{
  height: 200px;
  background-color: lightgray;
}

footer{text-align: left;}

.splash{


}

.clearfix {
  clear: both;
}


.one-third {
  float: left;
  width: 33%;
}

.two-third {
  float: left;
  width: 66%;
}

.one-fourth {
  float: left;
  width: 25%;
}